<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TM-JUG Chatter</title>
		<script src="vendor/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script language="javascript" type="text/javascript">
		var wsUri="ws://localhost:8081/TmJugChatter/ask";
		var output;
		function init() {
		output=document.getElementById("output");
		testWebSocket();
		}
		function testWebSocket() {
		websocket=new WebSocket(wsUri);
		websocket.onopen= function(evt) {
		onOpen(evt)
		};
		websocket.onclose= function(evt) {
		onClose(evt)
		};
		websocket.onmessage= function(evt) {
		onMessage(evt)
		};
		websocket.onerror= function(evt) {
		onError(evt)
		};
		}
		function onOpen(evt) {
		writeToScreen("CONNECTED");
		doSend("WebSocket rocks");
		}
		function onClose(evt) {
		writeToScreen("DISCONNECTED");
		}
		function onMessage(evt) {
		writeToScreen('<span style="color: blue;">RESPONSE: '+evt.data+'</span>');
		websocket.close();
		}
		function onError(evt) {
		writeToScreen('<span style="color: red;">ERROR:</span> '+evt.data);
		}
		function doSend(message) {
		writeToScreen("SENT: "+message);
		websocket.send(message);
		}
		function writeToScreen(message) {
		var pre=document.createElement("p");
		pre.style.wordWrap="break-word";
		pre.innerHTML=message;
		output.appendChild(pre);
		}
		window.addEventListener("load",init,false);
		</script> -->
	</head>
	<body ng-app="tm-jug-ask" ng-controller="Main">
		<ul>
			<li ng-repeat="message in messages">
				{{message}}
			</li>
			<textarea name="message field" rows="8" cols="40" ng-model="input.message"></textarea>
			<button ng-click="sendMessage()">Send</button>
		</ul>
	</body>
</html>